<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a New Listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catchy title." type="text" class="form-control"
                        required />
                    <div class="valid-feedback">Title looks good.</div>
                    <div class="invalid-feedback">Please enter a title !</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description !</div>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image]" placeholder="Enter image URL/Link" type="text" class="form-control" />
                </div> -->
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control" required />
                </div>
                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1500" class="form-control" required />
                        <div class="invalid-feedback">Price should be valid !</div>
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
                        <div class="invalid-feedback">Country name should be valid !</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Bihar, Noida" type="text" class="form-control"
                        required />
                    <div class="invalid-feedback">Location should be valid !</div>
                </div>

                <button class="btn btn-dark mb-2 add-btn">Add</button>
            </form>
        </div>
    </div>