* {
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    border: 1px solid #74E291 !important;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 4rem;
    background-color: white;
}

.fa-airbnb {
    color: #fe424d;
    font-size: 2.75rem;
    font-weight: 800 !important;
}

.nav-link {
    color: #222222 !important;
}

.navbar-collapse {
    background-color: white;
}

/* footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    display: flex;
    height: 6rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.06);
}


.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: #ebebeb;
}

/* Second navbar  */
div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 1rem;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 14px;
    text-decoration: none;
    margin-right: 3.25rem;
}

div.scrollmenu a:hover {
    text-decoration: underline #7BD3EA 1.5px solid;
}

div.scrollmenu a p {
    font-size: 1rem;
}

div.scrollmenu a {
    opacity: 0.75;
    font-size: 1.2rem;
}

div.scrollmenu a:hover {
    opacity: 1;
}

.tax-info {
    display: none;
}

.tax-toggle {
    border: 1px solid #222222;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-switch input:hover {
    cursor: pointer;
}

/* New page  */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page  */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page  */
.main {
    /* margin: 0;
    padding: 0; */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.cards {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-info {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
}

buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.add-btns {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #fe424d !important;
    color: #222222;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700 !important;

}

@media only screen and (max-width: 600px) {
    .cards {
        width: 90%;
    }
}

/* Review Form  */

.review-Cont {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.review-form {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 20px;
}

.lab {
    display: block;
    margin-bottom: 10px;
}

.review-Inp {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.review-btn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .review-form {
        width: 90%;
    }
}

/* Show Reviews  */
.ShowMain {
    font-family: Arial, sans-serif;
    margin-bottom: 25px;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card3 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    flex: 1;
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.sub-card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

.star-icons {
    color: #ffd700;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .page {
        width: 90%;
    }

    .row {
        flex-direction: column;
    }

    .card3 {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

/* Sign up  */
.SignupContainer {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.signup-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.SignHead {
    color: #333;
}

.sinLbl {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #555;
}

.signInp {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

.signBtn {
    background-color: #fe424d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.signBtn:hover {
    background-color: #45a049;
}

.signup-link {
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

/* Error Page  */

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 25px;
    background: #D24545;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}